<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>CreationCandidat</servlet-name>
		<servlet-class>com.sdzee.servlets.CreationCandidat</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GestionServlet</servlet-name>
		<servlet-class>com.sdzee.servlets.GestionServlet</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sdzee.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuppressionServlet</servlet-name>
    <servlet-class>com.sdzee.servlets.SuppressionServlet</servlet-class>
  </servlet>
  
	

	
	<servlet-mapping>
		<servlet-name>CreationCandidat</servlet-name>
		<url-pattern>/CreationCandidat</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GestionServlet</servlet-name>
		<url-pattern>/GestionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuppressionServlet</servlet-name>
    <url-pattern>/SuppressionServlet</url-pattern>
  </servlet-mapping>
</web-app>